    .nav{
      background: radial-gradient(ellipse at bottom, #2e4b6c 0%, #15192f 100%);
        height:20px;
      }

      .navh2 {
        text-align:left;
        font-weight:bold;
        padding-left:15px;
        color: wheat;
        
        
      }
      .navh3{
        text-align: center;
        font-weight:bold;
       
        
      }
      .navh4{
        text-align: right;
        font-weight:bold;
       
        
      }
      .logout{
        color: red;
      }
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

